<footer class="bg-light mt-5">
  <nav class="navbar navbar-expand-lg">
    <ul class="list-inline mr-auto">
      <li class="list-inline-item"><a target="_blank" class="" href="/" rel="noopener noreferrer">ヘルプ</a></li>
      <li class="list-inline-item"><a target="_blank" class="" href="/" rel="noopener noreferrer">お知らせ</a></li>
      <li class="list-inline-item"><a target="_blank" class="" href="/" rel="noopener noreferrer">利用規約</a></li>
      <li class="list-inline-item"><a target="_blank" class="" href="/" rel="noopener noreferrer">プライバシーポリシー</a></li>
      <li class="list-inline-item"><a class="" href="/">運営会社</a></li>
    </ul>
    <p class="">© 2019 Sample Blog, Inc. All rights reserved.</p>
  </nav>
</footer>
